on-content
{
    background: #E5E5E5;
}
.content-header
{
position: absolute;
width: 414px;
height: 165px;
left: 0px;
top: -12px;
background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 30px;
}
#bottom-bar
{
position: absolute;
width: 120px;
height: 3px;
left: 90px;
top: 160px;
background: #07AEEF;
box-shadow: 0px 4px 4px rgba(196, 63, 21, 0.1);
border-radius: 40px;
}
#home
{
    position: absolute;
    width: 25px;
    height: 23px;
    left: 30px;
    top: 60px;
    color: #51BFD0;
    display: inline-block;
    cursor: pointer;
}
#logo-SA
{
position: relative;
width: 65px;
height: 50px;
top: 53px;
background: url('../../assets/WhatsApp Image 2021-02-25 at 12.59.09.jpeg');
background-size: 100%;
background-repeat: no-repeat;
margin: auto;
right: 50px;
}
#title-header
{
position: absolute;
margin: auto;
width: 70px;
height: 21px;
left: 30%;
top: 130px;
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #22497C;
}
#icone-depot
{
position: absolute;
left: 25%;
top: 130px;
width: 100px;
height: 100px;
color: #22497C;
}
.content-form-depot
{
    background: #E5E5E5;
}
#content-menu-choice
{
position: absolute;
width: 100%;
height: 55px;
left: -4px;
top: 250px;
background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 30px;
display: inline-block;
}
ion-content
{
    background: #E5E5E5;
}
.content-menu
{
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    top:20px;
    left: 23px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    cursor: pointer;
}
.menu-bar-bottom
{
position: absolute;
width: 96px;
height: 3px;
left: 0px;
top: 33px;
background: #FA4A0C;
box-shadow: 0px 4px 4px rgba(196, 63, 21, 0.1);
border-radius: 40px;
}
#content-form-emmeteur
{
    position: relative;
    display: inline-block;
    width: 100%;
    top:250px;
    height: 350px;
    background: #E5E5E5;
}
#content-form-beneficiaire
{
    position: relative;
    display : inline-block;
    width: 100%;
    top:250px;
    height: 250px;
}

.container-code
{
    width: 100%;
    position: relative;
    display: inline-block;
    background: #E5E5E5;
    top:170px;
}

