<ion-content>

  <div class="content-header">
    <ion-icon id="home" routerLink="/accueil" slot="start" name="home"></ion-icon>
    <div id="logo-SA">
    </div>
    <div id="icone-depot">
      <ion-icon name="return-up-forward-outline"></ion-icon>
    </div>
    <div id="title-header">
    Retrait
    </div>
    <div id="bottom-bar">

    </div>
  </div>

  <div class="content-form-depot">

    <div class="container-code">

      <ion-item>
        <ion-label position="stacked" >Code de Transaction</ion-label>
        <ion-input (keyup)="GetTransaction()" [(ngModel)]="code" name="code" ></ion-input>
      </ion-item>
    
    </div>
  <div class="container-field" [hidden]="show">
    <div id="content-menu-choice" padding>
      <div class="content-menu" (click)="ShowAndHide(1)">
          Emmetteur
          <div class="menu-bar-bottom"  [hidden]="hide">
          </div>
      </div>

      <div class="content-menu" (click)="ShowAndHide(2)">
        Bénéficiare
        <div class="menu-bar-bottom" [hidden]="!hide"></div>
      </div>
    </div>
    
    <div [hidden]="hide" id="content-form-emmeteur" >
      <ion-item>
      <ion-label  class="ion-text-wrap">
        Num CNI<br>
        {{transaction.clients.numero_cni}}
      </ion-label>
    </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          Nom & Prenom<br>
          {{transaction.clients.nomCompletClient}}
                 </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label class="ion-text-wrap">
          Téléphone<br>
          {{transaction.clients.telephone}}
                </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label class="ion-text-wrap">
          Montant à envoyer<br>
          {{transaction.montant}}
              </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label class="ion-text-wrap">
          Date d'envoi<br>
          {{transaction.date_depot}}
                </ion-label>
      </ion-item>
    </div>
    
    
    

      <div [hidden]="!hide" id="content-form-beneficiaire">
        <ion-item>
          <ion-label position="stacked" >N° CNI</ion-label>
          <ion-input name="numCIN" #numCIN="ngModel" ngModel required ></ion-input>
          <span *ngIf="numCIN.length==''">*Champ bligatoire</span>
        </ion-item>
        <div id="content">
          <ion-item>
          <ion-label class="ion-text-wrap">
            Nom & Prenom<br>
            {{transaction.clientsRetrait.nomCompletClient}}
          </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label class="ion-text-wrap">
            Téléphone<br>
            {{transaction.clientsRetrait.telephone}}
          </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label class="ion-text-wrap">
            Montant à envoyer<br>
            {{transaction.montant}}
          </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label class="ion-text-wrap">
            Date d'envoi<br>
            {{transaction.date_depot}}  
          </ion-label>
        </ion-item>
      </div>
      <ion-button (click)="MakeRetrait(numCIN.value)" style="position: relative;"  color="secondary" expand="block" shape="round" fill="outline" color="secondary">Valider</ion-button>
    </div>
  </div>
  </div> 
 
</ion-content>