.bloc1{
    background-color: #f3f3f3;
    width: 100%;
    height: 35%;
}

.bloc2{
    background-color: #fff;
    width: 100%;
    height: 35%;
}
.container-solde
{
position: absolute;
width: 270px;
height: 90px;
top:15%;
margin:auto;
margin-left:-3% ;
background: #FFFFFF;
border-radius: 20px;
border:2px solid #51BFD0;
display: inline-block;
left:25px
}
